# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.restore
release.properties
dependency-reduced-pom.xml
build.log
.incremental
.polyglot.build.artifacts

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# VS Code
.vscode/
*.code-workspace

# Eclipse
.settings/
.project
.classpath
.factorypath

# OS fixed files
Thumbs.db
Desktop.ini

# Reference project (external)
reference/
